.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110vh;
  align-items: center;
  background-image: url("../public/back_img.png");
  background-size: contain;
  background-repeat: repeat-y;
  padding-bottom: 50px;

}
.top{
  padding-top: 50px;
  /* text-align: center; */
  font-weight: bold;
  color:#444;
  font-size: 20px;
}
.top button{
  font-weight:bold;
  color: rgb(96, 21, 116);
  cursor: pointer;
  border: none;
  background: none;
}
.top button:hover{
  font-size: 19px;
}
.option{
  text-align: 'center'
}
.option Form{
  margin:auto;
  width :300px;
}
.option a{
  color: white;
}
.option a:hover{
  color: #EEE;
}
.selectPrompt{
  width:300px
}
.img {
  display: block;
}

.container {
  width: 520px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
  border: 3px solid black;
  padding: 30px;
}
.title{
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.box {
  position: relative;
}
.vali{
  font-size: 14px;
  color: rgb(202, 35, 35);
}
.hint {
  opacity: 0.6;
  background-color: white;
  position: absolute;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.load{
  width: 200px;
  margin: auto;
  color:#444;
  text-align: center;
}
.footer {
  padding-top: 50px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 610px) {
  .main{
    background-image: url("../public/back_img_phone.png");
    min-height: 0vh;
  }
  .container{
    width: 95vw;
    padding-left: 4vw;
  }
  .container span{
    padding-left: 7vw;
  }
  .selectPrompt{
    font-size: 18px;
    width:70vw;
  }
  .option{
    font-size: 18px;
  }
  .option Form{
    width:70vw;
  }
  .clear h1{
    font-size: 18px;
  }
  .clear img{
    width:85vw;
    height:auto;
  }
}